version: '3.1'

services:

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: {{ pg_user }}
      POSTGRES_PASSWORD: {{ pg_password }}
      POSTGRES_DB: {{ pg_db }}
      PGDATA: /usr/app/db_data/pg_data
    volumes:
      - ../db_data/pg_data:/usr/app/db_data/pg_data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  app:
    image: flhenry/aft_telegram
    restart: always
    volumes:
      - ../src:/usr/app/src
      - ../db_data:/usr/app/db_data/
    ports:
      - 8443:8443